footer.main-footer
  .main-footer__main
    .container
      .row.flex-lg-nowrap.justify-content-between
        .col-auto.main-footer__logo
          a(href="/").footer-logo: img(src="img/logo-light.png", alt="")
        .col-auto.main-footer__contacts
          .footer-contacts
            .footer-contacts__address Брянского Фронта, 18
            a.footer-contacts__item(href="tel: +74832505200")
              small +7 (4832) 
              | 505-200
            a.footer-contacts__item(href="tel: +74832505300")
              small +7 (4832) 
              | 505-300
        .col-auto.main-footer__socials
          ul.social
            li.social__item: a(href="#").social__link: i.icm inst
            li.social__item: a(href="#").social__link: i.icm vk
            li.social__item: a(href="#").social__link: i.icm gis
            li.social__item: a(href="#").social__link: i.icm visor
          .after-social
            p По всем вопросам пишите:
            a(href="mailto: info@avgustin32.ru") INFO@AVGUSTIN32.RU
        .col.main-footer__pays
          ul.pay-methods
            li.pay-methods__item: svg.svgico.svgico-mastercard: use(xlink:href="img/symbol-defs.svg#svgico-mastercard")
            li.pay-methods__item: svg.svgico.svgico-maestro: use(xlink:href="img/symbol-defs.svg#svgico-maestro")
            li.pay-methods__item: svg.svgico.svgico-visa: use(xlink:href="img/symbol-defs.svg#svgico-visa")
            li.pay-methods__item: svg.svgico.svgico-mir: use(xlink:href="img/symbol-defs.svg#svgico-mir")
  .main-footer__bottom
    .container.align-items-center
      .main-footer__copyright Официальный сайт <br class="d-sm-none"> © ООО «Августин», 2008 - 2019
      .main-footer__studios
        a(href="#").studio-link Дизайн сайта 
        a(href="#").studio-link
          span.studio-link__name Разработка и продвижение
          svg.studio-link__image.svgico.svgico-nifl: use(xlink:href="img/symbol-defs.svg#svgico-nifl")
.gitnav
  a(href="index.html") Главная
  a(href="cart-order.html") Оформление 1
  a(href="cart-info.html") Оформление 2
  a(href="cart-agree.html") Оформление 3
  a(href="contacts.html") Контакты
  a(href="delivery.html") Доставка
  a(href="menu.html") Меню 