extends _template

block main
  .container
    .inner-header
      .inner-header__header контакты
    .contacts
      .contacts__col
        .contacts-info
          .contacts-info__col
            .contacts-info__item
              p 241037, г.Брянск, <br> Брянского Фронта, 18
            .contacts-info__item
              p: a(href="tel: +74832505200") +7 (4832) 505-200
              p: a(href="tel: +74832505200") +7 (4832) 505-200
          .contacts-info__col
            .contacts-info__item
              p По всем вопросам пишите:
              p: a(href="mailto:INFO@AVGUSTIN32.RU") INFO@AVGUSTIN32.RU
            .contacts-info__item
              ul.social
                li.social__item: a(href="#").social__link: i.icm inst
                li.social__item: a(href="#").social__link: i.icm vk
                li.social__item: a(href="#").social__link: i.icm gis
                li.social__item: a(href="#").social__link: i.icm visor
        .contacts-form
          .contacts-form__title оставьте сообщение
          form(action="#").contacts-form__form
            .contacts-form__row: input(type="text" placeholder="Имя").input.input_default.w-100
            .contacts-form__row: input(type="text" placeholder="Телефон").input.input_default.w-100
            .contacts-form__row: input(type="text" placeholder="ваш email").input.input_default.w-100
            .contacts-form__row: textarea(type="text" placeholder="ваше сообщение").textarea.textarea_default.w-100
            .contacts-form__row
              label.rules
                .rules__checkbox
                  label.checkbox
                    input(type="checkbox").checkbox__input
                    span.checkbox__ico
                .rules__text Нажимая на кнопку, вы даете согласие <br> на обработку своих персональных данных
            .contacts-form__row: button(type="submit").btn.btn_primary-light.w-100 Отправить
            
      .contacts__col
        .contacts__map: <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A93ee4b4237b01038497cecc68a67947e7f13cb17ed523383d7e50f5c8ad14282&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
